
span {
    margin-right: 10px;
}

span:active {
    color: #d9293b;
}

.wrapperMenu {
    display: block;
    width: 220px;
    height: 30px;
    margin: 10px 0;
    background: #5be8be;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    text-underline: none;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(-90%);
    -moz-transform: translateX(-90%);
    -ms-transform: translateX(-90%);
    -o-transform: translateX(-90%);
    transform: translateX(-90%);
}

.wrapperMenu:hover {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}
.active {
    font-size: 18px;
    color: #d9293b;
    text-underline: none;
}